[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "jrSiCKLSNMF"]
	path = jrSiCKLSNMF
	url = https://github.com/ellisdoro/jrsicklsnmf
